.select-container{
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .create-new-gig{
      padding-left: 20%;
      padding-right: 20%;
      padding-top: 20px;
  }
  input{
      width: 100%;
      height: 40px;
      border-radius: 10px;
      margin: 5px;
      border-width: thin;
  }
  input::placeholder{
      padding-left: 10px;
  }
  .overview{
      text-align: center;
  }
  .pricing{
      text-align: center;
  }
  .description{
      text-align: center;
  }
  .requirements{
      text-align: center;
  }
  .create-new-gig{
      padding-bottom: 30px;
  }
  .gig-submit{
      width: 30%;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 20px;
      color: white;
      background-color: rgb(199, 22, 22);
      border-style: none;
  }
  .gig-submit:hover{
      cursor: pointer;
  }
  .gig-list{
      list-style-type: none;
  }
  input[name='Gig-Title']{
     font-size: 40px;
     height: max-content;
  }
  input[name='Basic']{
      font-size: 20px;
      height: 60px;
  }
  input[name='Standard']{
      font-size: 20px;
      height: 60px;
  }
  input[name='Premium']{
      font-size: 20px;
      height: 60px;
  }
  input[name='Gig-description']{
      font-size: 20px;
      height: 60px;
  }
  input[name='Gig-requirements']{
      font-size: 20px;
      height: 60px;
  }
 
  .gig-text-area{
    width: 100%;
    background-color: #eee;
    border-radius: 20px;
    padding: 12px 15px;
  }
  .form-control-file{
    width: auto;
    height: 20vh;
   margin-left: 10%;
  }
  .gig-select{
    background-color: #eee;
    height: 50px;
    border-radius: 10px;
    transform: translateX(-30px);
  }
  .gig-heading{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(202, 39, 67);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    
  }

  .img-btn{
    color: rgb(202, 39, 67);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    width:100px;
  }

  .gig-pricing{
    font-family: "Roboto Slab","Times New Roman",serif;
    font-weight: 700;
    font-size: x-large;
  }