.footer-container{
     text-align: center;
     color: #ee2737ff;
     display: inline-block;
     padding-top: 3px;
     position: relative;
     width:100%;
 }
 .footer-container>h6{
     font-size: 15px;
     float: left;
 }
 .footer-container>h5{
     float: right;
 }